/* ------- LARGE GLOBAL SELECTORS ------- */
@font-face {
  font-family: Nunito;
  src: url(./Fonts/Nunito-VariableFont_wght.ttf);
}

body{
  display: block;
  background-color: #0F0F0F;
  color: #ffffff;

  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3em;
}

html, body {
  height: 100%;
  width: 100%;
  margin:0%;
  padding: 0%;
}
div {
  height: 100%;
  width: 100%;
}

/*------- SMALL GLOBAL SELECTORS ------- */
a {
  color: rgb(171, 203, 255);
}

a:visited {
  color: rgb(214, 166, 241);
}

/* ------- HIGHLIGHTER -------
  * {
    border-block: 1px solid rgba(85, 255, 0, 0.5);
    }
*/



/* ------- WRAPPER & FOOTER ------- */
#wrapper{
  background-color: #242424;

  margin: 2% 2% 2% 2%;
  padding: 3%;
  padding-top: 0%;
  
  border-radius: 15px;
  
  height: auto;
  width: auto;
  min-width: 150px;
  
}

#footer {
  display: flex;
  background-color: #242424;
  border-radius: 15px;
  margin: 0px 2% 2% 2%;
  padding: 0px 3% 0px 3%;
  height: auto;
  width: auto;
  min-width: 150px;
}

/* ------- WRAPPER & FOOTER CONTAINERS ------- */
#container01 {
  display: flex;
}

#footer2 {
  width: 100%;
  background-color: #1C1C1C;
  margin: 2%;
  align-content: center;
}

#footer2 p {
  margin: 1em 3% 1em 3%
}

/* ------- HEADERS ------- */
h1 {
  text-align: center;
  line-height: 1.1em;
  margin: 0%;
  padding: .5em;
  text-wrap: balance;
}

/* ------- NAV ------- */
.nav{
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 20px;
  margin: 0em 0em 0em 0em;
  padding: 0px
}

.nav li {
  font-size: 1.3em;
  background-color: #0F0F0F;
  border-radius: 1.5em;
  margin: 1% 3% 1% 3%;
  padding: 1% 3% 1% 3%;
}

.nav a{
color: #ffffff;
text-decoration: none;
}

/* ------- NAV 2 ------- */
.nav2{
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 20px;
  margin: 0em 0em 0em 0em;
  padding: 0px
}

.nav2 li {
  display: grid;
  place-content: center;
  
  font-size: 1em;
  background-color: #0F0F0F;
  border-radius: .25em;
  box-sizing: border-box;
  margin: 3%;
  /*padding: 1em 0em 0em 0em;*/
  /*line-height: 3em;*/
  height: 6em;
  width: 6em;
  color: #ffffff;
}

.nav2 a{
color: #ffffff;
text-decoration: none;
}

/* ------- DIVIDER STYLES ------- */
/* === SPACER === */
.ds01{  
  display: block;
  height: 1px;
  border: 0;
  border-top: none;
  margin: 1em 0;
  padding: 0;
}
/* === DIVIDER === */
.ds02{  
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}
/* === DIV HEADER DIVIDER === */
.ds03{  
  display: block;
  height: 0px;
  border: 0px;
  border-top: 3px solid #454545;
  margin: .75em 0px .75em 0px;
  padding: 0px;
}
/* === DIV HEADER DIVIDER 2, 3, & 4 === */
.ds04{  
  display: block;
  height: 0px;
  border: 0px;
  border-top: 2px solid #454545;
  margin: .5em 1em .5em 1em;
  padding: 0px;
}

.ds05{  
  display: block;
  height: 0px;
  border: 0px;
  border-top: 5px dotted #454545;
  margin: .5em 1em .5em 1em;
  padding: 0px;
}

.ds06{  
  display: block;
  height: 0px;
  border: 0px;
  border-top: 3px solid #454545;
  margin: .5em 1em .5em 1em;
  padding: 0px;
}

/* ------- GRID STYLE ------- */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: .25em;
  padding: 10px;
}
.grid-container > div {
  background-color: #434343;
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* ------- TEXT BLOCK STYLES ------- */
.style1{
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
  margin: 3%;
  border-radius: 15px;
  text-align: center;
  width: auto;
  padding: 1em 0% 1em 0%;

  p {
    margin: 0em 5% 0em 5%
  }

  h2 {
    margin: -5px 5% -3px 5%;
    padding: 0%;
  }

  h3 {
    margin: 0px 5% 3px 5%;
    padding: 0px;
  }
}

#title {
  margin: -5px 5% -3px 5%;
  padding: 0px;
}

.style2{
  /* Footer Styling*/
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
  margin: 3%;
  border-radius: 15px;
  text-align: center;
  width: auto;
}

.style3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;

  figure {
    margin: 3%;
    padding: 0%;
    max-width: 350px;
    img {
      width: 100%;
      margin: 0%;
      padding: 0%;
      border-radius: 5px;
    }
  }
}

.p1{
  margin: 0px;
  padding: .25em 0px .25em 0px;
  text-align:left;
}

.p2{
  text-align: left;
  margin: 0px;
  padding: 0px;
}

blockquote{
  margin: 1em;
  border-radius: 0px .25em .25em 0px;
  background: #292929;
  text-align: justify;
  padding: 0px;
  border-left: 3px solid #454545;

}

blockquote {font-style: italic;}

blockquote > p:before {
  content: '“';
}
blockquote > p:after {
  content: '”';
}

blockquote p{
  margin: 0;
  padding: .5em 0em .5em 0em;
}

details {
	margin-inline: auto;
}

summary {
  font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
  
  padding: 0.2em 0.5em .2em;
  margin-bottom: .5em;

  background-color: #2d2d2d;
  color: white;
  text-align: left;
}

summary::marker,
summary::-webkit-details-marker {
  color: #ffffff;
  font-size: 2rem;
	display: none;
}	

summary::after {
	content: "+";
  color: #ffffff;
  font-size: 2rem;
	transition: transform 200ms ease;
}	

details[open] summary::after {
	transform: rotate(45deg);
}	

details[open] summary {
  background-color: #2d2d2d;
  border-bottom: 3px solid #454545;
  margin-bottom: 0.5em;
}

details p {
  text-align: left;
  margin: 0px;
  padding: 0em 0em .5em 0em;
}


/*------- MISC STYLES? -------*/
.button01{
  font-family: Nunito;
  font-size: 1.3em;
  color: #ffffff;
  background-color: #0F0F0F;
  border-radius: 15px;
  margin: auto;
  padding: auto;
}

.button02{
  font-family: Nunito;
  font-size: 1.3em;
  color: #ffffff;
  background-color: #0F0F0F;
  border-radius: 15px;
  margin: auto;
  padding: 0% 10%;
}

#strong1 {
  font-size: large;
}

#img1 {
  border-radius: 15px;
  margin: 0px 0px 3% 0px;
}

ol {
font-size: 1.2rem;
text-align: left;
}

ol li {
  font-size: 1rem;
  padding: .25em;
  text-align: left;
}